{% extends "base.html" %}
{% block title %}{{ title}}{% endblock %}
{% block content %}
<h1>My Files</h1>

{% if selection_mode %}

<form method="POST" action="/delete">

    <ul>
    {% for file in files %}
        <li>
            <input type="checkbox" name="selected_files" value="{{ file }}">

            <a href="/preview/{{ file }}">{{ file }}</a>

            <a href="/download/{{ file }}">Download</a>
        </li>
    {% endfor %}
    </ul>

    <button type="submit">Delete Selected</button>

    <a href="/files">Cancel</a>

</form>

{% else %}

<ul>
{% for file in files %}
    <li>
        <a href="/preview/{{ file }}">{{ file }}</a>

        <a href="/download/{{ file }}">Download</a>
    </li>
{% endfor %}
</ul>

<a href="/files?mode=delete">Delete Files</a>

{% endif %}
{% endblock %}
